header {
  padding: 2rem;
  border-bottom: 2px solid black;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h1, h2, h3 {
  font-weight: 700;
}

h1 {
  font-size: 2rem;
  text-align: center;
}

main {
  padding: 0 2rem;
}

#div-main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 1rem;
  margin-bottom: 2rem;
}

#div-main-header > h2 {
  font-size: 1.5rem;
}

button {
  padding: .5rem 1.5rem;
  border: 2px solid black;
  font-weight: 600;
}

button:hover {
  background-color: skyblue;
  cursor: pointer;
}

#div-form {
  padding: 1rem;
}

form {
  display: flex;
  flex-wrap: wrap;
}

form > label {
  width: 50%;
  margin-bottom: 1rem;
  font-size: 1.5rem;
  font-weight: 600;
  text-align: center;
}

label > input {
  display: block;
  width: 75%;
  padding: .5rem;
  margin: 1rem auto;
  border: 2px solid black;
  border-radius: 2px;
}

#table-btns {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}

#table-btns > ul {
  display: flex;
}

#table-btns > ul > li:last-of-type {
  margin-left: 1rem;
}

form > label:last-of-type, #div-availabilities-table, table, thead, tr {
  width: 100%;
}

th {
  width: calc(100% / 8);
}

#list-polls, #ul-availabilities {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1rem;
}

#list-polls > li, #ul-availabilities > li {
  padding: 1.5rem 1rem;
  border: 2px solid skyblue;
  text-align: center;
  display: flex;
  flex-direction: column;
}

#btn-form-submit {
  display: block;
  margin: 1rem auto;
}

#inputAvailabilities {
  display: none;
}




#list-polls > li > h3 {
  font-size: 1.25rem;
}

#list-polls > li > h3, #list-polls > li > div, #list-polls > li > button {
  margin-bottom: .5rem;
}

#list-polls > li > button:last-child {
  margin-bottom: 0;
}

#div-monthlyTable > h2 {
  font-weight: 700;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

#div-calendar {
  border: 1px solid black;
  width: fit-content;
}

.week {
  display: flex;
}

.monthlyCalendar-day {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  padding: .5rem;
  border: 1px solid black;
}

.monthlyCalendar-day.selected, #btn-toggle-times.selected, #btn-toggle-days.selected {
  background-color: #fa8072;
}

.monthlyCalendar-day:hover, #btn-toggle-times:hover, #btn-toggle-days:hover {
  background-color: #F85441;
}

.monthlyCalendar-day.selected:hover, #btn-toggle-times.selected:hover, #btn-toggle-days.selected:hover {
  background-color: #FFFFFF;
}

.week > li > h2 {
  font-weight: 700;
}

/* Testing CSS */
#btn-toggle-times.selected, #btn-toggle-days.selected {
  margin: 3rem 0;
}