header {
  padding: 2rem;
  border-bottom: 2px solid black;
}

h1 {
  font-weight: 700;
  font-size: 2rem;
  text-align: center;
}

main {
  padding: 0 2rem;
}

#div-main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 1rem;
  margin-bottom: 2rem;
}

#div-main-header > h2 {
  font-size: 1.5rem;
  font-weight: 700;
}

button {
  padding: .5rem 1.5rem;
  border: 2px solid black;
  font-weight: 600;
}

button:hover {
  background-color: skyblue;
  cursor: pointer;
}

#list-polls {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1rem;
}

#list-polls > li {
  padding: 1.5rem 1rem;
  border: 2px solid skyblue;
  text-align: center;
  display: flex;
  flex-direction: column;
}

#list-polls > li > h3 {
  font-size: 1.25rem;
  font-weight: 700;
}

#list-polls > li > h3, #list-polls > li > div, #list-polls > li > button {
  margin-bottom: .5rem;
}

#list-polls > li > button:last-child {
  margin-bottom: 0;
}

#div-calendar {
  border: 1px solid black;
  width: fit-content;
}

.week {
  display: flex;
}

.week > li {
  padding: .5rem;
  border: 1px solid black;
  width: 32px;
  height: 32px;
}