/*
  Pastel Baby Blue: #89CFF0
  Pastel Pink : #fea3aa
  Pastel Orange: #f8b88b
  Pastel yellow: #FAF884
  Pastel Green: #BAED91
  Pastel Purple: #F2A2E8
*/
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  margin-bottom: 2rem;
  background-color: #89CFF0;
}

button {
  cursor: pointer;
}

h1, h2, h3 {
  font-weight: 700;
}

#svg-logo {
  fill: #FFFFFF;
}

header > h2 {
  font-size: 2rem;
}

#btn-poll-create, #btn-admin-update, #btn-admin-create {
  background-color: #FFFFFF;
  border-color: #FFFFFF;
}

#btn-admin-update, #btn-admin-create {
  width: 100%;
}

#btn-admin-update {
  margin-bottom: .25rem;
}

#btn-poll-create:hover, #btn-admin-update:hover, #btn-admin-create:hover {
  background-color: #5CBDEA;
  border-color: #5CBDEA;
}

main {
  padding: 0 2rem;
}

#div-main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 1rem;
  margin-bottom: 2rem;
}

#div-main-header > h2 {
  font-size: 1.5rem;
}

button {
  padding: .5rem 1.5rem;
  font-weight: 600;
  border: 1px solid black;
}

button:hover {
  background-color: #89CFF0;
  border-color: #89CFF0;
  cursor: pointer;
}

#div-form {
  padding: 1rem;
}

form {
  display: flex;
  flex-wrap: wrap;
}

form > div {
  width: 50%;
  margin-bottom: 1rem;
  font-size: 1.5rem;
  font-weight: 600;
}

form > div:nth-child(3), form > div:nth-child(4) {
  margin-bottom: 0;
}

label > input {
  display: block;
  width: 75%;
  padding: .5rem;
  font-size: 1rem;
  font-weight: 400;
}

#div-calendars {
  margin-top: 2rem;
  position: relative;
}

#div-calendars::before {
  content: '';
  width: 100%;
  height: 4px;
  background-color: #89CFF0;
  position: absolute;
  top: 0rem;
  left: 0;
}

#table-btns {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#table-btns > ul {
  display: flex;
}

form > label:last-of-type, #div-availabilities-table, table, thead, tr {
  width: 100%;
}

#div-admin-availabilities #ul-participants {
  margin-bottom: 0;
}

th {
  width: calc(100% / 8);
}

#list-polls, #ul-availabilities {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1rem;
}

.list-item-poll, .list-item-availability {
  display: flex;
  flex-direction: column;
  padding: 1.5rem 1rem;
  border: 1px solid transparent;
  box-shadow: 0 .25rem .5rem rgba(0, 0, 0, .15);
  text-align: center;
}

.list-item-availability {
  position: relative;
}

.list-item-availability::before {
  width: calc(100% + 2px);
  height: 16px;
  content: '';
  position: absolute;
  left: -1px;
  top: 0;
  background-color: #89CFF0;
}

#btn-form-submit {
  display: block;
  margin: 1rem auto;
}

#inputAvailabilities {
  display: none;
}

.list-item-poll > h3 {
  font-size: 1.25rem;
}

#list-polls > li > h3, #list-polls > li > div, #list-polls > li > button {
  margin-bottom: .5rem;
}

#list-polls > li > button:last-child {
  margin-bottom: 0;
}

#div-monthlyTable > h2 {
  font-weight: 700;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

#div-calendars {
  width: 100%;
}

#div-calendars > ul {
  margin-bottom: 1rem;
}

.week {
  display: flex;
}

#monthlyTable-header {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

#monthlyTable-header > h2, #week-current {
  background-color: #89CFF0;
}

#btn-prev-month, #btn-next-month, #monthlyTable-header > h2, #week-current {
  padding: .5rem 1rem;
}

.monthlyCalendar-day {
  width: calc(100% / 7);
  aspect-ratio: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  cursor: pointer;
}

.monthlyCalendar-day.disabled {
  pointer-events: none;
}

.monthlyCalendar-day.selected, #btn-toggle-times.selected, #btn-toggle-days.selected, #btn-toggle-times.selected:hover, #btn-toggle-days.selected:hover {
  background-color: #89CFF0;
}

#btn-toggle-times, #btn-toggle-days, #btn-prev-month, #btn-next-month {
  border: none;
}

.monthlyCalendar-day:hover {
  background-color: #5CBDEA;
}

#btn-toggle-times:hover, #btn-toggle-days:hover {
  background-color: #89CFF0;
}

.monthlyCalendar-day.selected:hover {
  background-color: #FFFFFF !important;
}

.week > li > h2 {
  font-weight: 700;
}

/* Testing CSS */

#btn-form-submit {
  display: block;
  border: 2px solid black;
}

#btn-form-submit:hover {
  border-color: #89CFF0;
}

#div-duration {
  width: 50%;
  font-size: 1.5rem;
  font-weight: 600;
}

#list-durations {
  display: flex;
}

.list-item-duration {
  padding: .5rem;
  margin-right: .5rem;
  border: 2px solid black;
  font-weight: 400;
  font-size: 1rem;
}

.list-item-duration:hover, .list-item-duration.selected {
  cursor: pointer;
  color: #5CBDEA;
  border-color: #5CBDEA;
}

.list-item-duration.selected {
  color: #89CFF0;
  border-color: #89CFF0;
}

input {
  border: 1px solid #e7e5e5;
  background-color: #e7e5e5;
}

label {
  position: relative;
}

label > input + span {
  display: block;
  margin: auto;
  height: 2px;
  width: 0px;
  position: absolute;
  left: 0;
  background-color: transparent;
  transition: width .5s ease, background-color .5s ease;
}

label > input:focus + span {
  width: 75%;
  background: #89CFF0;
}
