#ul-poll-description > li > svg {
  margin-right: .5rem;
}

#ul-poll-description > li:first-of-type {
  margin-bottom: 1rem;
}

#form-response > div {
  width: 100%;
}

#div-poll-description {
  padding: 1rem;
  border-bottom: 1px solid black;
}

#ul-availabilities {
  margin: 1rem 0;
}

#svg-most-selected {
  position: absolute;
  top: -10px;
  left: -16px;
  fill: #FEA3AA;
}

#ul-availabilities > li > h2 {
  font-size: 1.25rem;
  margin-bottom: .75rem;
}

#ul-availabilities > li > h3 {
  font-size: 1.15rem;
  margin-bottom: .75rem;
}

#ul-availabilities > li > button {
  margin: auto 0 0 0;
}

#ul-participants {
  width: 100%;
  margin: 1.5rem auto;
}

#ul-participants > li {
  border: 2px solid #89CFF0;
  padding: 0.5rem 1rem;
  margin-bottom: .5rem;
  font-size: 1rem;
}

#ul-participants > li:last-child {
  margin-bottom: 0;
}

.btn-meeting-select.selected {
  background-color: #89CFF0;
  border-color: #89CFF0;
}

#form-response {
  display: flex;
  justify-content: space-between;
}

#form-response > label {
  width: 50%;
  display: flex;
  align-items: center;
  font-weight: 700;
}

#form-response #name {
  width: 40%;
  margin-left: 1rem;
  background-color: #FFFFFF;
  border: 1px solid #000000;
}

#form-response #name:focus {
  border-color: #89CFF0;
}

#form-response > label:last-of-type, #btn-submit {
  margin-bottom: 1rem;
}