html {
  font-family: sans-serif;
}

table {
  display: block;
  width: fit-content;
  border-collapse: separate;
  border: 1px solid black;
  letter-spacing: 1px;
  font-size: 0.8rem;
  margin: 0 auto;
}

th {
  padding: 1rem;
  border: 1px solid black;
  background-color: rgb(235,235,235);
}

td {
  vertical-align: middle;
  text-align: center;
}

tr > td:first-child {
  border: 1px solid black;
}

tr:nth-child(even) td {
  background-color: rgb(250,250,250);
}

tr:nth-child(odd) td {
  background-color: rgb(245,245,245);
}

.cell-time-slot {
  position: relative;
  padding: 0;
  height: 100px;
}

.cell-half-hour.disabled {
  background-color: rgb(165, 165, 165) !important;
  pointer-events: none;
}

.cell-time-slot > div {
  border-bottom: 1px solid grey;
  border-top: 1px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;
  height: 25%;
}

.cell-time-slot > div:last-child {
  border-bottom: 1px solid black;
}

.span-time-block, .temp-timeblock {
  width: 75%;
  position: absolute;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;  
  background-color: #fa8072;
  z-index: 10;
}

.span-time-block {
  pointer-events: none;
}

.span-time-block > button {
  pointer-events: auto;
}

.temp-timeblock {
  background-color: #F85441;
  pointer-events: none;
}

.h-15 {
  height: 25%;
}

.h-30 {
  height: 50%;
}

.h-45 {
  height: 75%;
}

.h-60 {
  height: 100%;
}

.h-120 {
  height: 200%;
}

.p-0 {
  top: 0;
}

.p-15 {
  top: 25%;
}

.p-30 {
  top: 50%;
}

.p-45 {
  top: 75%;
}

.btn-close {
  padding: .25rem .5rem;
}